.modal__container {
  position: fixed;
  z-index: 1;
}

.form__container {
  background: var(--bg-color);
  box-shadow: 18px 18px 30px var(--shadow-1),
    -18px -18px 100px var(--shadow-2);
  border-radius: 2rem;
  color: var(--font-color);
  font-family: var(--font);
  left: 50%;
  padding: 2rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.form__container div {
  margin: .25rem 0;
}

.form__container div {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

.form__container textarea {
  width: 100%;
  resize: none;
}